$mobile-width: 575.98px;
$tablet-width: 991.98px;
$desktop-width: 991.98px;
$large-desktop-width: 1281px;


$primaryColor: #0050B5;
$subColor: #787878;
$hover: #CCDCF0;
$borderColor: rgba(120, 120, 120, 0.5);


$fontSizeTitleSmallLap: 45px;
$fontSizeMobile: 25px;
$fontSizeTablet: 40px;


$primaryColor: #EF753F !default;
$primaryHoverColor: #ef753fd1 !default;

$mainColor: #30327F !default;
$grayColor: #646464 !default;

$headlineFont: "Roboto";
$subheadFont: "Roboto";
$textFont: "Roboto Regular";
$titleFont: "Roboto Medium";
$fontBold: "Roboto Bold";
