.heart-icon-container:hover svg path {
    fill: red; /* Change the fill color to red on hover */
}
.heart-icon-container:hover svg {
    fill: red; 
}
.heart-icon-container{
    background: #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    svg{
        width: 100%;
        
    }
}
.heart-icon-container.clicked .heart-path {
    fill-rule: initial;
  }