.diliver{
    // padding: 16px;
    width: 56px;
    height: 56px;
    background-color: #F6F6F6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        
    }
}